* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'BuilderSans', sans-serif;
}

body {
    background-color: #1e6091;
    overflow-x: hidden;
}